<odoo>
	<data>
		<menuitem id="{folder_name}_top_menu" name="{addon_name}" sequence="20" web_icon="{folder_name},static/description/icon.png" />
		<menuitem id="{folder_name}_sub_menu" name="Operations" sequence="40" parent="{folder_name}_top_menu" />
		<menuitem id="{folder_name}_config_menu" name="Configurations" sequence="1000" parent="{folder_name}_top_menu" />
	</data>
</odoo>