<odoo>
  <record id="{model}_view_list" model="ir.ui.view">
    <field name="name">{model}.list</field>
    <field name="model">{model}</field>
    <field name="arch" type="xml">
      <list>
{tree_fields}
      </list>
    </field>
  </record>
  <record id="{model}_view_form" model="ir.ui.view">
    <field name="name">{model}.form</field>
    <field name="model">{model}</field>
    <field name="arch" type="xml">
      <form>
        <sheet>
          <group>
{form_fields}
          </group>
        </sheet>
      </form>
    </field>
  </record>
</odoo>
